@import "../../../../styles/keyframes";

$motion-origin: (
        originTopCenter: center top,
        originTopLeft: left top,
        originTopRight: right top,
        originCenter: center,
        originBottomLeft: left bottom,
        originBottomRight: right bottom
);

$motion-keyframes: (
        PopInFromTrigger: vibe-motion-pop-in-from-trigger,
        PopIn: vibe-motion-pop-in,
        PopElastic: vibe-motion-pop-elastic,
        PopInElastic: vibe-motion-pop-in-elastic,
        PopInElasticBold: vibe-motion-pop-in-elastic-bold,
        PopOutFromTrigger: vibe-motion-pop-out-from-trigger,
        SpinInEmphasized: vibe-motion-spin-in-emphasized,
        PopInEmphasized: vibe-motion-pop-in-emphasized,
        SlideIn: vibe-motion-slide-in,
        SlideInElastic: vibe-motion-slide-in-elastic,
        SlideOut: vibe-motion-slide-out
);

$motion-duration: (
        motionProductiveShort: var(--motion-productive-short),
        motionProductiveMedium: var(--motion-productive-medium),
        motionProductiveLong: var(--motion-productive-long),
        motionExpressiveShort: var(--motion-expressive-short),
        motionExpressiveLong: var(--motion-expressive-long),
        motionSlowMotion: 5s,
);

$motion-timing: (
        motionTimingEaseInOut: ease-in-out,
        motionIimingEnter: var(--motion-timing-enter),
        motionIimingExit: var(--motion-timing-exit),
        motionTimingTransition: var(--motion-timing-transition),
        motionTimingEmphasize: var(--motion-timing-emphasize)
);

$motion-demo-size: 140px;
$motion-demo-background-color: var(--color-riverstone_gray);
$motion-demo-inner-spacing: var(--spacing-xl);
$motion-demo-inner-background-color: var(--primary-color);

.demo {
  display: block;
  height: $motion-demo-size;
  width: $motion-demo-size;
  background-color: $motion-demo-background-color;
  position: relative;
  position: relative;

  &::before {
    animation-fill-mode: forwards;
    position: absolute;
    content: "";
    left: $motion-demo-inner-spacing;
    right: $motion-demo-inner-spacing;
    top: $motion-demo-inner-spacing;
    bottom: $motion-demo-inner-spacing;
    background-color: $motion-demo-inner-background-color;
    opacity: 0;
  }
}

.active {
  &::before {
    opacity: 1;
  }
}

.demoSection {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
}

.demoButton {
  margin-left: var(--spacing-large);
}

.motionStatic,
.motionStaticStart {
  &::before {
    opacity: 1;
  }
}

@each $keyframe, $value in $motion-keyframes {
  .active.motion#{$keyframe} {
    &::before {
      animation-name: #{$value};
    }
  }
}

@each $duration, $value in $motion-duration {
  .active.#{$duration} {
    &::before {
      animation-duration: #{$value};
    }
  }
}

@each $timing, $value in $motion-timing {
  .active.#{$timing} {
    &::before {
      animation-timing-function: #{$value};
    }
  }
}

@each $key, $value in $motion-origin {
  .active.#{$key} {
    &::before {
      transform-origin: $value;
    }
  }
}