@import "../../../../styles/keyframes";

$motion-keyframes: (
  PopElastic: pop-elastic,
  SpinInEmphasized: spin-in-emphasized,
  PopInEmphasized: pop-in-emphasized,
  SlideInElastic: slide-in-elastic,
  SlideOut: slide-out
);

$motion-duration: (
  motionProductiveShort: var(--motion-productive-short),
  motionProductiveMedium: var(--motion-productive-medium),
  motionProductiveLong: var(--motion-productive-long),
  motionExpressiveShort: var(--motion-expressive-short),
  motionExpressiveLong: var(--motion-expressive-long)
);

$motion-timing: (
  motionTimingEaseInOut: ease-in-out,
  motionIimingEnter: var(--motion-timing-enter),
  motionIimingExit: var(--motion-timing-exit),
  motionTimingTransition: var(--motion-timing-transition),
  motionTimingEmphasize: var(--motion-timing-emphasize)
);

$motion-demo-size: 140px;
$motion-demo-background-color: var(--color-riverstone_gray);
$motion-demo-inner-spacing:var(--spacing-xl);
$motion-demo-inner-background-color: var(--primary-color);

.demo {
  display: block;
  height: $motion-demo-size;
  width: $motion-demo-size;
  background-color: $motion-demo-background-color;
  position: relative;
  position: relative;

  &::before {
    animation-fill-mode: forwards;
    position: absolute;
    content: "";
    left: $motion-demo-inner-spacing;
    right: $motion-demo-inner-spacing;
    top: $motion-demo-inner-spacing;
    bottom: $motion-demo-inner-spacing;
    background-color: $motion-demo-inner-background-color;
    opacity: 0;
  }
}

.active {
  &::before {
    opacity: 1;
  }
}

.demoSection {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
}

.demoButton {
  margin-left: 100px;
}

.motionStatic,
.motionStaticStart {
  &::before {
    opacity: 1;
  }
}

@each $keyframe, $value in $motion-keyframes {
  .active.motion#{$keyframe} {
    &::before {
      animation-name: #{$value};
    }
  }
}

@each $duration, $value in $motion-duration {
  .active.#{$duration} {
    &::before {
      animation-duration: #{$value};
    }
  }
}

@each $timing, $value in $motion-timing {
  .active.#{$timing} {
    &::before {
      animation-timing-function: #{$value};
    }
  }
}
