//

.motionDemoWrapper {
  margin-bottom: var(--spacing-large);
  display:flex;
  flex-wrap:wrap;
  > * {
    padding-right: var(--spacing-large);
    flex:1;
  }
}

.transformFix {
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 16px);
}