@include keyframe(slide-in-elastic) {
  0%{
    transform: translate(-50%, -115px);
  }
  33%{
    transform: translate(-50%, 15px);
  }
  66%{
    transform: translate(-50%, -5px);
  }
  100%{
    transform: translate(-50%, 0px);
  }
}